.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5rem;
  background-color: $dark-color;
}
.header__img {
  width: 100%;
  max-width: 80px;
  height: auto;
  @media (max-width: $width-1) {
    max-width: 56px;
  }
}
.header__enlaces {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header__paginas {
  padding: 0px 8px;
  font-weight: bold;
  color: $primary-text-emphasis;
  text-decoration: none;
  &:hover {
    color: $accent-color;
    border-bottom: 2px solid $accent-color;
    opacity: 0.9;
  }
}
.header__paginas--logo {
  &:hover {
    border-bottom: none;
  }
}
@media (max-width: $width-1) {
  .header__paginas--small {
    font-size: 0.8rem;
  }
}
