.maincontacto {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header,
.footer {
  flex-shrink: 0;
}
.containerflex {
  flex-grow: 1;
}
.container-contacto {
  container-type: inline-size;
  container-name: container-contacto;
}
.contactform,
.ubicacion,
.mapa {
  width: $width-2;
  padding: 2rem;
  margin: 0 auto;
  @container container-contacto (max-width: #{$width-2}) {
    width: 100cqw;
  }
}
.contactform {
  background: color(display-p3 0.21 0.29 0.46);
  color: rgba(33, 37, 41, 0.65);
  a {
    color: color(display-p3 1 0.38 0.8);
    text-decoration: none;
    border-bottom: 1px dotted color(display-p3 1 0.38 0.8);
    &:hover {
      color: $secondary-strong;
      border-bottom: 1px dotted $secondary-strong;
    }
  }
  label.form-check-label {
    color: #ffffff;
  }
}
