@layer reset,
  default,
  bootstrap, 
  themes,
  layouts,
  components,
  utilities;

@layer reset {
  * {
    box-sizing: border-box;
  }
}
@layer default {
  body {
    height: 100vh;
    margin: 0;
  }
}
@layer bootstrap {
  @import "bootstrap/scss/bootstrap";
}
@layer themes {
  :root {
    --primary-color: #0c1220;
    --secondary-color: #ffcc62;
    --light-secondary-color: #fae4b5;
    --action-color: #00daff;
    --font-family: "Roboto", sans-serif;
  }
}
@layer layouts {
  body {
    background-color: var(--primary-color);
    font-family: var(--font-family);
    color: #ffffff;
  }
}
@layer components {
  @import "../components/poster/poster";
  @import "../components/header/header";
}
@layer utilities {
  header {
    background-color: var(--primary-color);
  }
  .poster__logo {
    background-color: #ffffff;
  }
  .poster__lugar-fechas {
    font-size: 1.3rem;
    padding: 2rem 0;
    border-top: 2px solid var(--action-color);
    border-bottom: 2px solid var(--action-color);
  }
  ul {
    font-size: 1.2rem;
    li {
      border: 1px solid var(--secondary-color);
      background-color: var(--secondary-color);
      transition-property: background-color;
      transition-duration: 0.4s;
      &:hover {
        background-color: var(--light-secondary-color);
      }
    }
  }
}
