@import "../variables";
@layer home {
  body {
    background-color: $primary-color;
    font-family: $font-stack;
    color: #ffffff;
    height: 100vh;
    margin: 0;
  }
  header {
    background-color: $primary-color;
  }
  .poster__logo {
    background-color: #ffffff;
  }
  .poster__lugar-fechas {
    font-size: 1.3rem;
    border-top: 2px solid $action-color;
    border-bottom: 2px solid $action-color;
  }
  .poster__actividades ul,
  .poster__programa ul {
    padding: 0;
    li {
      background-color: $accent-color;
      transition-property: background-color;
      transition-duration: 0.4s;
      &:hover {
        background-color: $light-secondary-color;
      }
    }
  }
  .poster__programa ul li {
    border-radius: 4px;
  }
}
