.container-prensa {
  container-type: inline-size;
  container-name: container-prensa;
  :is(ul, ol) {
    padding-left: 1.5rem;
  }
  :where(ol) {
    list-style: none;
    padding: 0;
    margin: 2rem 0;
    counter-reset: list-counter;
    border-top: 2px solid #007bff;
    border-bottom: 2px solid #007bff;
  }
  :where(ol > li) {
    counter-increment: list-counter;
    padding-top: 1rem;
  }
  :where(ol > li)::before {
    display: inline-block;
    content: counter(list-counter);
    color: #007bff;
    font-weight: bold;
    width: 1.8rem;
    height: 1.8rem;
    border: 2px solid #007bff;
    border-radius: 50%;
    padding: 0 0.5rem;
  }
  :where(ol > li > p) {
    padding-left: 2.1rem;
  }
}
.destacado-1 {
  @container container-prensa (max-width: #{$width-1}) {
    font-size: 1.2rem;
  }
}
.destacado-2 {
  @container container-prensa (max-width: #{$width-1}) {
    font-size: 1.1rem;
  }
}

blockquote:has(cite) {
  border-left: 4px solid #ffc107;
  padding-left: 1rem;
  @container container-prensa (max-width: #{$width-1}) {
    font-size: 1.1rem;
  }
}
