@import "../variables";
@layer speakers {
  .card {
    transition-property: background-color;
    transition-duration: 0.4s;
    &:hover {
      background-color: $light-secondary-color;
    }
  }
}
.containerspeakers {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header,
.footer {
  flex-shrink: 0;
}
.containerflex {
  flex-grow: 1;
}
