@import "../variables";
// @layer speakers {
//   body {
//     background-color: green;
//   }
// }
.containerspeakers {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header,
.footer {
  flex-shrink: 0;
}
.containerflex {
  flex-grow: 1;
}
