<header class="header">
  <div>
    <a class="header__paginas header__paginas--logo" href="./index.html"
      ><img
        class="header__img"
        src="./assets/images/logo-transparente.png"
        alt="Logo Jornadas Seguridad"
    /></a>
  </div>
  <div class="header__enlaces">
    <a class="header__paginas header__paginas--small" href="./speakers.html"
      >Speakers</a
    >
    <a class="header__paginas header__paginas--small" href="./prensa.html"
      >Prensa</a
    >
    <a class="header__paginas header__paginas--small" href="./contacto.html"
      >Contacto</a
    >
  </div>
</header>
