$width-1: 540px;
$width-2: 720px;
$width-3: 960px;
$width-4: 1140px;

$font-stack: "Roboto", sans-serif;

$dark-color: #142338;
$action-color: #00daff;
$accent-color: #ffcc62;
$light-secondary-color: #fae4b5;
$primary-color: #0c1220;

$primary-text-emphasis: #ffffff;
$theme-colors: (
  "primary": #00daff,
  "light": #ffffff,
);
